:host >>> .axis {
  font: 10px sans-serif;
}

:host >>> .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

:host >>> .axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

:host >>> .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

:host >>> .data-point {
  stroke: steelblue;
  stroke-width: 2px;
  fill: white
}

:host >>> .tooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: #ddd;
  opacity: 0.8;
  font-family: sans-serif;
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  text-align: center
}