@media (min-width: 768px) {
    :host >>> .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
    }
    :host >>> .sidebar-nav .navbar ul {
      float: none;
      display: block;
    }
    :host >>> .sidebar-nav .navbar li {
      float: none;
      display: block;
    }
   :host >>> .sidebar-nav .navbar li a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }